<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create a Post</title>
    </head>
    <body>
        <header>
        <a href="/home">Return to Homepage</a>
        <p>{{date}}</p>
        </header>
        <main>
                {% if messages %}
            <ul class="validations">
                {% for messages in messages %}
                <li {% if message.tags %} class = "{{ message.tags }}"{% endif %}>{{messages}}</li>
                {% endfor %}
            </ul>
                {% endif %}
            <form action="/create-post" method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                <h1>Give your Post a Title</h1>
                <textarea name="title" id="title" cols="30" rows="10"></textarea>
                <h1>Write your content below</h1>
                <!-- {{form.media}} -->
                <textarea name="content" id="content" cols="30" rows="10"></textarea>
                <button type="submit">POST</button>
            </form>
            
        </main>
    </body>
</html>