<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog:"Blog Name" - User</title>
    </head>
    <body>
        <header>
            <p>Welcome Isiah</p>
            <p>{{date}}</p>
            <p><a href="">Create Post</a></p>
        </header>
        <main>
            <h1>Blog Name</h1>
            <p>This would be a paragraph to introduce myself and the blog. <br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea aperiam dicta alias ad dolore porro commodi obcaecati explicabo, ullam praesentium quasi, consectetur qui, error vel magnam ratione dolorem hic in.
            </p>
        </main>
        <div>
            <h2>Recent Posts</h2>
            <!-- for loop of submitted posts. listed from most newest to oldest -->
            <section>

            </section>
        </div>

    </body>
</html>